.search-buttons {
  padding: 3px 4px;
  border: solid rgb(150,160,175);
  margin: 2px 0px;
  max-height: 24px;
  background: -moz-linear-gradient(top, rgba(235,242,247,0.6) 0%, rgba(201,217,229,0.6) 100%);
  -moz-transition: box-shadow 500ms ease 0s;
}
.search-buttons:hover {
  box-shadow: 0 0 4px rgba(100,100,100,0.5);
  background: -moz-linear-gradient(top, rgba(235,242,247,1) 0%, rgba(235,242,247,1) 100%);
}
.search-buttons:focus, .search-buttons:active {
  background: -moz-linear-gradient(top, rgba(201,217,229,0.6) 0%, rgba(235,242,247,0.6) 100%);
}
.search-prev { border-radius: 2px 0px 0px 2px; border-width: 0.5px 0px 0.5px 0.5px;  margin-left: 1px;}
.search-prev:active, .search-prev:focus {padding: 3px 5px 3px 3px;}
.search-next:active, .search-next:focus {padding: 3px 3px 3px 5px;}
.search-next { border-radius: 0px 2px 2px 0px; border-width: 0.5px;  margin-right: 1px;}
.search-options { margin: 2px 5px;}
#se-search-toolbar, #se-replace-toolbar {
  opacity: 0;
  max-width: 0px;
  overflow-x: hidden;
  -moz-transition-property: opacity, max-width;
  -moz-transition-duration: 750ms, 1s;
  -moz-transition-delay: 200ms, 0s;
}
#se-search-index, #se-search-count, #se-search-splitter { font-size: 12px; margin: 1px 2px 1px 0px; padding: 5px 0px;}
#se-search-index {color: rgb(50,50,50);}
#se-search-options-panel checkbox  { margin: 2px; padding: 2px;}
#se-replace-container {
  margin: -70px 0px 44px 0px;
  max-height: 0px;
  overflow-y: hidden;
  opacity: 0;
  -moz-transition-property: opacity, margin, max-height;
  -moz-transition-duration: 300ms, 500ms , 500ms;
  -moz-transition-delay: 300ms, 0s, 0s;
}
.close-button { min-width: 16px; max-width: 16px; min-height: 16px; max-height: 16px; border-radius: 2px; margin: 6px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAGUExURWZmZv///3NLWagAAAACdFJOU/8A5bcwSgAAAB9JREFUeNpiYGBgBAIGMIDQMA6Mi8yAScEVw7QDBBgAA6gAGUtEIJYAAAAASUVORK5CYII%3D');
  background-repeat:no-repeat;
  background-position:center;
}
.close-button:hover { box-shadow: inset 0 0 4px rgba(100, 100, 100, 0.6);}
.close-button:active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAOklEQVR42mOYIiv3nxLMMAwNWDthKhgTK47TAGTF2MTwegFZAz7NeMOAGM20M4AiL1AciBRH4wjMCwBIIPaIz30aAQAAAABJRU5ErkJggg%3D%3D');
}
.replace-buttons {
  min-width: 24px;
  max-height: 24px;
  padding: 3px 5px;
  border: 0.5px solid rgb(150,160,175);
  border-radius: 2px;
  margin: 2px 5px 2px 3px;
  background: -moz-linear-gradient(top, rgba(235,242,247,0.6) 0%, rgba(201,217,229,0.6) 100%);
  -moz-transition: box-shadow 500ms ease 0s;
}
.replace-buttons:hover {
  box-shadow: 0 0 4px rgba(100,100,100,0.5);
  background: -moz-linear-gradient(top, rgba(235,242,247,1) 0%, rgba(235,242,247,1) 100%);
}
.replace-buttons:focus, .replace-buttons:active {
  background: -moz-linear-gradient(top, rgba(201,217,229,0.6) 0%, rgba(235,242,247,0.6) 100%);
}
.error-panel {
  min-height: 0px;
  max-height: 100px;
  padding: 0px;
  overflow-y: auto;
  opacity: 0;
  margin: 100px 0px -100px 0px;
  -moz-transition-property: opacity, margin;
  -moz-transition-duration: 300ms, 200ms;
  -moz-transition-delay: 0ms;
}
.error-label {
  min-height: 30px;
  max-height: 30px;
  background-color: rgb(211,200,190);
  color: rgb(50,50,50);
  font-weight: bold;
  border: solid rgb(111,100,90);
  border-width: 2px 0px 0px 0px;
  opacity: 0;
  margin: 30px 0px -60px 0px;
  -moz-transition-property: opacity, margin;
  -moz-transition-duration: 400ms, 300ms;
  -moz-transition-delay: 0ms;
}
.error-panel-line { min-height: 20px; width: 100%;}
.error-panel-line-num {
  margin: 0px !important;
  height: 20px;
  cursor: pointer;
  min-width: 75px;
  color: rgb(92,52,63);
  font-weight: bold;
  text-align: right;
  background-color: rgb(240,198,184);
  padding: 3px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAB1klEQVR42mNgwAEelZS4HRYQyD+uqpq4Q0ZGiIEUcD07W/iSvf35s8zM/4D450FZ2VaiNf9nYGA6bWZWfYaL68NZIBeET/Pz3z+qq2u3KjSUmaABN0JDnU4JCFw8ycDw74KGxn8QPsvC8u+4jMzeMz4+cng1X05JET+vrT3/LBfX72PMzP8venqmXgFikCvO8PC8OWNomIfXgCNcXF6nWFlvgjQcZWH5f4aBgR+EzwH554AGnpaVvXTKxcUZe6hXVJhes7I6C9Tw5xw2A0Dhwcn556yMTP0ZY2MuFM33ExI4jikoFBxnZf0PU4zNABC+oK7+/5KHRygwsBkhob5qFdudgADj4+zse5EVHgMacJSBQec0ECOLg2NFRWXnCQcHGbABNzMzla75++84zcb2H1nhKVDAsbDsOsXIuAtZHIyFhf9fcncv3u/gwMJwwcIi6KSQ0Dd0RSeBLjgtJDT3JBfX3NPoBgDxRW3tL1cjI7UZjgkLZ59hZMRQAPTS/8OGhknAVJh0EosBwBT697ipaRDDJWfndGAc/z0LNAQZn2Zi+n+Gje3hGWbmh2fQ5MCYj+/vvfT0EIaH7e2C9woLww5pacUcUlEhCh/R0op+Uloa+rivjxMA7aoV/oIUDpcAAAAASUVORK5CYII%3D');
  background-repeat:no-repeat;
  background-position:center left;
}
.error-panel-msg {
  padding: 3px;
  color: rgb(187,26,93);
  background-color: rgb(253,226,207);
  cursor: pointer;
  margin: 0px !important;
  height: 20px;
}
#USMColorPickerPanel { background: rgba(0,0,0,0); border-width: 0px; outline: 0px;}
#USMPreviewPanel, #USMPreviewPanelImage {min-width: 50px !important; min-height: 50px !important;}
#USMPreviewPanel {background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2MBERISGBUYLxoaL2NCOEJjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY//AABEIAAoACgMBEQACEQEDEQH/xAGiAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgsQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+gEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoLEQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/AOgtbZtAd7m5cPE42AR9c9QcH6GgDznxhcpd+JryeMMEfZjcOeEUUAF14s1u7iEdxe70BzjykHP4CgDJnnkuJmlmbc7dTjHtQB//2Q%3D%3D);}