
/* Icons  */

#USMButtonPreview {
/*list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABxUlEQVQ4jdWSv2tTcRTFz3nvDU1NIDxCcHsQMpihmULF4qJLHfyBwUWLIBQE/wInXfwHiotUKA7SrQgtCHYoOAkWB0mHaAkPQ8UhJI9AAgm++77H5SkF+w/0wh0uh/s5l3svcO6Dp4tmsxkAuEdyjeQygGouDSQdStoGsNPpdOw/QKPRWPE8bwvAJQBDknsAjnJ5SdLNHPjNObfe7XY/AYAPAPV6/ZGkHefcBUlPnXP30zT9bmbXzaxsZi8BPHfODbMsu+ucWw/D8GeSJF8ZRdEDkm9J9kjeiuP4OIqiGskjkosAIGkqaanf7/+o1Wp1Se8l1SU99Mxs08x6WZZdi+P4GADMrG1mi2mabqRpumFmRTNrA0Acxz0zu2JmPTPbDMxsKqkoqQzgVw5IcucVACAJAMO/+5rP5xdJFklOGYbhVUn7AOaS1sbj8YdKpbLgnDs4BfhIcnU0Gv0ul8s3SG4DWCC5SgAolUrLknYBVCW9BvDM9/0EQCs3/ZJlWQjgBcnHAAYk70wmk8N/ZywUClVJryS182n2AHzO5cskb+eu70g+mc1mgzM/KwiClu/7bzzPO/E8T3me+L6/FQRB68ym8x1/ADCc7/LbrlPYAAAAAElFTkSuQmCC");*/
margin: 2px 3px !important;
}

#USMButtonSave {
/*list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABD0lEQVQ4jZ2TMU5CQRCGv9nsBUgsiT40cgNDZUGiFjYvFBrPYmLpHTgFhMYWEyriDWwUY2HhATDs7lj4kH2r4Mpfzcy/888/m125uLyaCezyTyg8otq13vtaszGmVTuoalW1CcyNMW8hhKeKaoOOrXeupjwYDZ/jvCx7BTAG7gejYbcsezHdti4RSJHyaW693yyQ8mkupydnGhdUwzHwGg8RMU3QuapaETOpOfhlhUlagLAmzljhL8QO3gW5Q5IRKRSj6Dmw8+XA+SXVnz5Mb3Kmdo46t8B1JfDtYJFr2zv3sYyt2+IO4p4fLzHTQSzgNxxdJ7DqWa2g2jhs7Rc5As4tGogAIAd7xYwtvnOFl08aUH7H1Z3LzgAAAABJRU5ErkJggg==");*/
margin: 2px 3px !important;
}

#USMButtonExit {
/*list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAn0lEQVQ4jc2RMQrDMAxFH6V0yGSKMSFDz1B6+87BY0ZfJVOhXX6KYhSt7QOB/fUtyzL8IwXIjp6VCxmBRWHNxejj0eEsw1uxFSmO/u3wbAq8gNXsH8BT67vRV3ldrsBsbutjlickAdU5XJXbcXIKXIDB0QflQvqB9bFET/Bar442e08BmIDmGBP7wTZ5XW4y9NPefqfJEzIdtJiim3/HB9cMOiRXt3fbAAAAAElFTkSuQmCC");*/
margin: 2px 3px !important;
}


/* Style */

#USMButtonContainer {
margin: 5px !important;
}

#USMButtonContainerV {
border-top: 1px solid rgb(175,180,185);
background: rgb(204, 217, 234) top left repeat -moz-linear-gradient(center top , rgb(237, 245, 252), rgba(237, 245, 252, 0) 156px);
}

#se-search-panel-container {
padding-top: 2px;
border-bottom: 1px solid rgb(175,180,185);
background: rgb(204, 217, 234) top left repeat -moz-linear-gradient(center top , rgb(237, 245, 252), rgba(237, 245, 252, 0) 156px);
}


/* Textbox */

filefield {
  -moz-appearance: none !important;
  border: 0 !important;
  background: none !important;
  margin: 3px 4px !important;
}

filefield .fileFieldContentBox,
textbox:not(.fileFieldLabel) {
  -moz-appearance: none !important;
  border-radius: 2px !important;
  border: 1px solid rgba(36,52,71,.5) !important; 
  background-color: rgba(255,255,255,.75) !important;
}

textbox[readonly="true"] {
  border: 1px solid transparent !important;
  background: none !important;
}


/* Buttons */

button {
  -moz-appearance: none;
  -moz-transition: .24s background-color ease-in;
  border: 1px solid rgba(26,58,96,.38) !important;
  padding: 0 1px !important;
  margin: 0 !important;
  background-color: rgba(223,232,242,.5) ;
  background-image: -moz-linear-gradient(rgba(250,250,250,.5), rgba(166,184,206,.25) 50%,
                                         rgba(45,78,115,.12) 50%, rgba(31,55,84,.05)) ;
  background-clip: padding-box;
  box-shadow: 0 0 0 1px rgba(255,255,255,.25) inset,
              0 0 3px rgba(255,255,255,.25) inset ;
  border-radius: 1.5px ;
  font-family: 'Segoe UI Semibold','Segoe UI',sans-serif ;
  color: rgba(37,47,59,.95) ;
  text-shadow: 0 1px 0 rgba(255,255,255,.1) ;
  font-weight: 600 ;
  font-size: 12px ;
}

button:not(:active):not([open]):not([disabled="true"]):not(.expander-up):hover,
menulist:not([open]):not([disabled="true"]):hover {
  background-color: hsl(212,42%,95%) ;
}

button:not([disabled="true"])[open],
button:not([disabled="true"]):hover:active,
menulist:not([disabled])[open],
.expander-up {
  border-color: rgba(36,52,71,.5) ;
  background-image: -moz-linear-gradient(rgba(61,76,92,.2), rgba(61,76,92,.2)),
                    -moz-linear-gradient(rgba(250,250,250,.25), rgba(166,184,206,.125) 50%,
                                         rgba(45,78,115,.06) 50%, rgba(31,55,84,.025)) ;
  box-shadow: 0 0 3px rgba(51,74,98,.2) inset,
              0 1px 3px rgba(44,71,103,.2) inset ;
  color: rgba(255,255,255,.95) ;
  text-shadow: 0 1px 0 rgba(37,47,59,.4) ;
}


/* Original Code */

.search-buttons {
  padding: 3px 4px;
  border: solid rgb(150,160,175);
  margin: 2px 0px;
  max-height: 24px;
  background: -moz-linear-gradient(top, rgba(235,242,247,0.6) 0%, rgba(201,217,229,0.6) 100%);
  -moz-transition: box-shadow 500ms ease 0s;
}
.search-buttons:hover {
  box-shadow: 0 0 4px rgba(100,100,100,0.5);
  background: -moz-linear-gradient(top, rgba(235,242,247,1) 0%, rgba(235,242,247,1) 100%);
}
.search-buttons:focus, .search-buttons:active {
  background: -moz-linear-gradient(top, rgba(201,217,229,0.6) 0%, rgba(235,242,247,0.6) 100%);
}
.search-prev { border-radius: 2px 0px 0px 2px; border-width: 0.5px 0px 0.5px 0.5px;  margin-left: 1px;}
.search-prev:active, .search-prev:focus {padding: 3px 5px 3px 3px;}
.search-next:active, .search-next:focus {padding: 3px 3px 3px 5px;}
.search-next { border-radius: 0px 2px 2px 0px; border-width: 0.5px;  margin-right: 1px;}
.search-options { margin: 2px 5px;}
#se-search-toolbar, #se-replace-toolbar {
  opacity: 0;
  max-width: 0px;
  overflow-x: hidden;
  -moz-transition-property: opacity, max-width;
  -moz-transition-duration: 750ms, 1s;
  -moz-transition-delay: 200ms, 0s;
}
#se-search-index, #se-search-count, #se-search-splitter { font-size: 12px; margin: 1px 2px 1px 0px; padding: 5px 0px;}
#se-search-index {color: rgb(50,50,50);}
#se-search-options-panel checkbox  { margin: 2px; padding: 2px;}
#se-replace-container {
  margin: -70px 0px 44px 0px;
  max-height: 0px;
  overflow-y: hidden;
  opacity: 0;
  -moz-transition-property: opacity, margin, max-height;
  -moz-transition-duration: 300ms, 500ms , 500ms;
  -moz-transition-delay: 300ms, 0s, 0s;
}
.close-button { min-width: 16px; max-width: 16px; min-height: 16px; max-height: 16px; border-radius: 2px; margin: 6px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAGUExURWZmZv///3NLWagAAAACdFJOU/8A5bcwSgAAAB9JREFUeNpiYGBgBAIGMIDQMA6Mi8yAScEVw7QDBBgAA6gAGUtEIJYAAAAASUVORK5CYII%3D');
  background-repeat:no-repeat;
  background-position:center;
}
.close-button:hover { box-shadow: inset 0 0 4px rgba(100, 100, 100, 0.6);}
.close-button:active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAOklEQVR42mOYIiv3nxLMMAwNWDthKhgTK47TAGTF2MTwegFZAz7NeMOAGM20M4AiL1AciBRH4wjMCwBIIPaIz30aAQAAAABJRU5ErkJggg%3D%3D');
}
.replace-buttons {
  min-width: 24px;
  max-height: 24px;
  padding: 3px 5px;
  border: 0.5px solid rgb(150,160,175);
  border-radius: 2px;
  margin: 2px 5px 2px 3px;
  background: -moz-linear-gradient(top, rgba(235,242,247,0.6) 0%, rgba(201,217,229,0.6) 100%);
  -moz-transition: box-shadow 500ms ease 0s;
}
.replace-buttons:hover {
  box-shadow: 0 0 4px rgba(100,100,100,0.5);
  background: -moz-linear-gradient(top, rgba(235,242,247,1) 0%, rgba(235,242,247,1) 100%);
}
.replace-buttons:focus, .replace-buttons:active {
  background: -moz-linear-gradient(top, rgba(201,217,229,0.6) 0%, rgba(235,242,247,0.6) 100%);
}
.error-panel {
  min-height: 0px;
  max-height: 100px;
  padding: 0px;
  overflow-y: auto;
  opacity: 0;
  margin: 100px 0px -100px 0px;
  -moz-transition-property: opacity, margin;
  -moz-transition-duration: 300ms, 200ms;
  -moz-transition-delay: 0ms;
}
.error-label {
  min-height: 30px;
  max-height: 30px;
  background-color: rgb(211,200,190);
  color: rgb(50,50,50);
  font-weight: bold;
  border: solid rgb(111,100,90);
  border-width: 2px 0px 0px 0px;
  opacity: 0;
  margin: 30px 0px -60px 0px;
  -moz-transition-property: opacity, margin;
  -moz-transition-duration: 400ms, 300ms;
  -moz-transition-delay: 0ms;
}
.error-panel-line { min-height: 20px; width: 100%;}
.error-panel-line-num {
  margin: 0px !important;
  height: 20px;
  cursor: pointer;
  min-width: 75px;
  color: rgb(92,52,63);
  font-weight: bold;
  text-align: right;
  background-color: rgb(240,198,184);
  padding: 3px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAB1klEQVR42mNgwAEelZS4HRYQyD+uqpq4Q0ZGiIEUcD07W/iSvf35s8zM/4D450FZ2VaiNf9nYGA6bWZWfYaL68NZIBeET/Pz3z+qq2u3KjSUmaABN0JDnU4JCFw8ycDw74KGxn8QPsvC8u+4jMzeMz4+cng1X05JET+vrT3/LBfX72PMzP8venqmXgFikCvO8PC8OWNomIfXgCNcXF6nWFlvgjQcZWH5f4aBgR+EzwH554AGnpaVvXTKxcUZe6hXVJhes7I6C9Tw5xw2A0Dhwcn556yMTP0ZY2MuFM33ExI4jikoFBxnZf0PU4zNABC+oK7+/5KHRygwsBkhob5qFdudgADj4+zse5EVHgMacJSBQec0ECOLg2NFRWXnCQcHGbABNzMzla75++84zcb2H1nhKVDAsbDsOsXIuAtZHIyFhf9fcncv3u/gwMJwwcIi6KSQ0Dd0RSeBLjgtJDT3JBfX3NPoBgDxRW3tL1cjI7UZjgkLZ59hZMRQAPTS/8OGhknAVJh0EosBwBT697ipaRDDJWfndGAc/z0LNAQZn2Zi+n+Gje3hGWbmh2fQ5MCYj+/vvfT0EIaH7e2C9woLww5pacUcUlEhCh/R0op+Uloa+rivjxMA7aoV/oIUDpcAAAAASUVORK5CYII%3D');
  background-repeat:no-repeat;
  background-position:center left;
}
.error-panel-msg {
  padding: 3px;
  color: rgb(187,26,93);
  background-color: rgb(253,226,207);
  cursor: pointer;
  margin: 0px !important;
  height: 20px;
}
#USMColorPickerPanel { background: rgba(0,0,0,0); border-width: 0px; outline: 0px;}
#USMPreviewPanel, #USMPreviewPanelImage {min-width: 50px; min-height: 50px;}
.checkerboard {background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2MBERISGBUYLxoaL2NCOEJjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY//AABEIAAoACgMBEQACEQEDEQH/xAGiAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgsQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+gEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoLEQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/AOgtbZtAd7m5cPE42AR9c9QcH6GgDznxhcpd+JryeMMEfZjcOeEUUAF14s1u7iEdxe70BzjykHP4CgDJnnkuJmlmbc7dTjHtQB//2Q%3D%3D);}
